
@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>
<hr />
<div>
    <a asp-action="Categories">Categories</a> |
    <a asp-action="Brands">Brands</a> |
    <a asp-action="Filter">Filter</a> |
    <a asp-action="Search">Search</a>
</div>